<ion-view>
  <ion-nav-bar align-title="center" class="bar-light">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>
      Pickup Trash
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon" ng-class="{'ion-eye': ctrl.showAll,'ion-eye-disabled': !ctrl.showAll}" ng-click="ctrl.toggleShowAll()"></button>
      <button class="button button-icon icon ion-android-car" ng-click="ctrl.determineRoute(true)"></button>
      <button class="button button-icon icon ion-close-circled" ng-click="ctrl.cancelRoute()" ng-if="ctrl.directionsRequest"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="mapWrap"  data-tap-disabled="true">
      <ng-map class="pdpmap" center="{{ctrl.center}}" zoom="{{ctrl.zoom}}">
        <directions
              ng-if="ctrl.directionsRequest"
               panel="directions-panel"
               waypoints="{{ctrl.directionsRequest.waypoints}}"
               origin="{{ctrl.directionsRequest.start}}"
               destination="{{ctrl.directionsRequest.end}}">
             </directions>

       <marker position="{{ctrl.truck.position}}" icon="{{ctrl.truck.icon}}" title="You are here"></marker>
       <marker ng-repeat="t in ctrl.trashcans | filter:ctrl.showAllFilter()" position="{{t.position}}"
         icon="{{t.icon}}" title="{{t.name}} ({{t.trashbags}})" on-click="ctrl.clearTrashcan(t)"></marker>
      </ng-map>
    </div>
    <div id="directions-panel"></div>
  </ion-content>
</ion-view>
