<ion-view>
  <ion-nav-bar align-title="center" class="bar-light">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>
      Schedule Pickup
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>

    <ng-map center="{{ctrl.center}}" zoom="14" ng-if="ctrl.center">
     <marker ng-repeat="t in ctrl.trashcans" position="{{t.position}}"
       icon="{{t.icon}}" title="{{t.id}} ({{t.trashbags}})" on-click="ctrl.scheduleTrashcan(t)"></marker>
    </ng-map>

  </ion-content>
</ion-view>
