<ion-view>
  <ion-nav-bar align-title="center" class="bar-light">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>
      Statistics
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <h1 class="account-title center-align">Search Criteria</h1>
    <div class="list">
      <div class="item item-divider">
        From
      </div>
      <label class="item item-input">
        <input type="date" placeholder="From" ng-model="ctrl.criteria.from">
      </label>
      <div class="item item-divider">
        To
      </div>
      <label class="item item-input">
        <input type="date" placeholder="To" ng-model="ctrl.criteria.to">
      </label>
      <button class="button button-full button-positive" ng-click="ctrl.search()">Submit</button>
    </div>
  </ion-content>
</ion-view>
