<ion-view>
  <ion-nav-bar align-title="center" class="bar-light">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>
      TRASH CANS {{ '(' + trashcan.trashcans.length + ')' }}
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a ng-show="user.givenRole==='5704843eea731cc530dd3a46'" class="button button-icon icon ion-plus-circled" ui-sref="new"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content ng-init="trashcan.fetch()">
    <ion-list can-swipe="true">
      <ion-item ng-repeat="item in trashcan.trashcans" ng-class="{ 'active' : item.id === trashcan.active }">
        <div class="row">
          <div class="col col-80" on-tap="trashcan.setActive(item._id)">
            <h2>{{ item.trashcanId }}</h2>
            <p>Lat: {{ item.latitude }}</p>
            <p>Long: {{ item.longitude }}</p>
            <p>Trash Bags: {{ item.trashbags }}</p>
        </div>
      </div>
      <ion-option-button class="button-energized ion-edit"
      ui-sref="edit({ id : item._id })"></ion-option-button>
      <ion-option-button class="button-assertive ion-trash-a"
      ng-click="trashcan.deleteTrashcan(item._id)" ng-show="user.givenRole==='5704843eea731cc530dd3a46'"></ion-option-button>
      </ion-item>
    </ion-list>

    <div class="card" ng-show="trashcan.trashcans.length === 0">
      <div class="item item-body center-align">
        <h2 class="dark">
          No trash cans found
        </h2>
        <h2 class="dark" ng-show="user.givenRole==='5704843eea731cc530dd3a46'">Try adding a trash can by clicking the <i class="ion-plus-circled dark"></i>
        icon in the top right corner.</h2>
      </div>
    </div>


  </ion-content>
</ion-view>
