<ion-view>
  <ion-nav-bar align-title="center" class="bar-light">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>
      Manage Trash Cans {{ '(' + trashcan.trashcans.length + ')' }}
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a ng-show="user.givenRole==='5704843eea731cc530dd3a46'" class="button button-icon icon ion-plus-circled" ui-sref="new"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div  class="mapWrap" ng-hide="trashcan.trashcans.length === 0">
      <ng-map class="pdpmap" zoom="{{trashcan.zoom}}" center="{{trashcan.center}}">
       <marker ng-repeat="t in trashcan.trashcans" position="{{t.position}}"
         icon="{{t.icon}}" title="{{t.id}} ({{t.trashbags}})" on-click="trashcan.openActionSheet(t)"></marker>
      </ng-map>
    </div>

    <div class="card" ng-show="trashcan.trashcans.length === 0">
      <div class="item item-body center-align">
        <h2 class="dark">
          No trash cans found
        </h2>
        <h2 class="dark" ng-show="user.givenRole===roles.admin">Try adding a trash can by clicking the <i class="ion-plus-circled dark"></i>
        icon in the top right corner.</h2>
      </div>
    </div>


  </ion-content>
</ion-view>
