/* Empty. Add your own CSS if you like */
.pdpmap {
  width: 100%;
  height: 100% !important;
}

/*
.scroll, .mapWrap {
  height: 100%;
}*/

.scroll, .mapWrap-full {
  height: 100%;
}

.pane:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("bg.jpg");
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}
